SECRET_KEY='secret_key'
DEBUG='false'

DB_NAME=name #postgres
DB_USER=user #postgres
DB_PASSWORD=db_password
DB_HOST=localhost
DB_PORT=5432
USE_POSTGRES = 'false'

EMAIL_HOST_USER=my_email
EMAIL_HOST_PASSWORD=password