SECRET_KEY='django-insecure-pm4@v!ye1(0@48!nc&3t89m&ide46a(ux6&9c9$fnsu5b2@dpt'
DEBUG='false'

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=Burkina-Faso
DB_HOST=localhost
DB_PORT=5432
USE_POSTGRES = 'true'

EMAIL_HOST_USER=macusmoraes@gmail.com
EMAIL_HOST_PASSWORD=flutsosaureevqxa